.vs/**
src/bin/**
src/obj/**
src/DockerCompose/bin/**
src/DockerCompose/obj/**
src/ControlNode/bin/**
src/ControlNode/obj/**
src/ControlNode/ControlNode.csproj.user
src/ComputeNode/bin/**
src/ComputeNode/obj/**
src/ComputeNode/ComputeNode.csproj.user
tests/UnitTests/bin/**
tests/UnitTests/obj/**
tests/UnitTests/UnitTests.csproj.user
tests/ClusterTests/bin/**
tests/ClusterTests/obj/**
tests/ClusterTests/ClusterTests.csproj.user
tests/IntegrationTests/bin/**
tests/IntegrationTests/obj/**
tests/IntegrationTests/IntegrationTests.csproj.user
tests/TestCommons/bin/**
tests/TestCommons/obj/**
tests/TestCommons/TestCommons.csproj.user
paper/*.log
paper/*.out
paper/*.toc
paper/*.pdf
paper/*.gz