.vs/**
src/bin/**
src/obj/**
src/DockerCompose/bin/**
src/DockerCompose/obj/**
src/Frontend/bin/**
src/Frontend/obj/**
src/Frontend/Frontend.csproj.user
src/ComputeNode/bin/**
src/ComputeNode/obj/**
src/ComputeNode/ComputeNode.csproj.user
tests/UnitTests/bin/**
tests/UnitTests/obj/**
tests/UnitTests/UnitTests.csproj.user
tests/FunctionalTests/bin/**
tests/FunctionalTests/obj/**
tests/FunctionalTests/FunctionalTests.csproj.user
paper/*.out
paper/*.toc
paper/*.pdf
paper/*.gz